@import "../../scss/base.scss";

.Icon {
  &--primary {
    height: 150px;
  }

  &--secondary {
    height: 25px;
  }

  &--terciary {
    height: 150px;
  }

  @media screen and (max-width:1279px) and (min-width: 480px){
    &--terciary {
      height: 200px;
    }
  }

  &--cuaternary{
    height: 35px;
  }
}